<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="https://www.linkedin.com/in/gabriell-marques-b7ab83150/" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://github.com/gabriellfe" class="social-link">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2024 copyright all right reserved</p>

    </div>
  </footer>