<main>
  <article>

    <!-- 
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
      style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">Minhas Experiências</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Orizon - Mar/2016 até Ago/2021 </h3>
                <p class="body-sm">
                  Manutenção de preços de medicamentos banco de dados, analises de uso de medicamentos de 
                  laboratórios e redes para negociação de descontos e manter regras de reembolso atualizadas, integrações de farmácias com 
                  WebService, testes manuais , homologação de demandas de melhoria, correção, 
                  novas funcionalidades e projetos da área PBMDF
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Agide Ltda - Ago/2021 até Out/2021</h3>

                <p class="body-sm">
                  Desenvolvimento de aplicações Java/Web, PrimeFaces, Hibernate, Microsoft SQL Server, Design Patterns, TDD, Microsserviços.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(236, 34%, 51%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Cedro Technologies - Out/2021 até Out/2022</h3>

                <p class="body-sm">
                  Suporte da plataforma do banco digital BTG Pactual. Back-end utilizando EJB em ambiente monolítico e JPA / Hibernate, Spring / Springboot em ambiente de microsserviço.
                  Banco de dados Oracle.
                  Maven para gerenciamento de dependências.
                  Controle de versão do Github.
                  Uso da arquitetura AWS (SQS, SNS, API Gateway, CloudWatch).
                  Desenvolvimento, Correções e implantação de projetos criado para automatização e melhorias de novos processos e processos já existentes.
                </p>
              </div>

            </div>
          </li>

         
          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(115, 80%, 70%)">

              <div class="card-media">
                <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">BTG Pactual - Atual</h3>

                <p class="body-sm">
                  Dev Back-end BTG Pactual. utilizando EJB em ambiente monolítico e JPA / Hibernate, Spring / Spring Cloud/ Springboot em ambiente de microsserviço.
                  Banco de dados Oracle.
                  Maven para gerenciamento de dependências.
                  Controle de versão do Github.
                  Uso de RabbitMq.
                  Uso da arquitetura AWS (SQS, SNS, API Gateway, CloudWatch).
                  Desenvolvimento, Correções e implantação de projetos criado para automatização e melhorias de novos processos e processos já existentes.
                </p>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>

  </article>
</main>