<main>
  <article>

    <!-- 
      - #PORTFOLIO
    -->

    <section class="section portfolio" aria-labelledby="portfolio-label">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="portfolio-label">Últimos Projetos</h2>

        <ul class="portfolio-list">

          <li>
            <div class="portfolio-card">

              <div class="card-banner img-holder" style="--width: 1300; --height: 1300;">
                <img src="./assets/images/git-1.png" width="1300" height="1300"
                  alt="Website Design for Marketing Agency Startup" class="img-cover">
              </div>

              <div class="card-content">

                <span class="chip label-md">Microserviços</span>

                <h3 class="title-md">Microserviços Java</h3>

                <p class="card-text">
                  Desenvolvi um ecosistema de Microserviços de 6 serviços sendo Login, Ordem, Pagamento, Produto, Gateway, Config Server.
                  Onde a segurança é feita pelo Gateway atráves de Filters aplicados em cada rota e as confirações ficam alocadas no config server sendo possível fazer o refresh, sem precisar do redeploy.
                  Possui também um projeto utilizado como Commons, sendo importado pelos demais com a responsabilidade de unificar as configurações principais de conexão
                </p>

                <a href="https://github.com/gabriellfe/microservices-k8s" class="btn btn-primary">View Project</a>

              </div>

            </div>
          </li>
        </ul>

      </div>
    </section>

  </article>
</main>