ng-scrollbar {
  --scrollbar-thickness: 16;
  --scrollbar-track-color: #d3d3d3;

  ::ng-deep {
    .ng-scrollbar-button {
      box-sizing: border-box;
      border: 1px solid #484848 !important;
      background: #007991;
      background: linear-gradient(to top, #78ffd6, #007991);
    }
    .ng-scrollbar-track {
      box-sizing: border-box;
    }
    .ng-scrollbar-thumb {
      background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(0, 152, 155, 1) 0.1%,
        rgba(0, 94, 120, 1) 94.2%
      );
    }
    .ng-scrollbar-sticky {
      background: white;
    }
  }
}

body {
  zoom: 0.85; /* Coloca o zoom em 200% */
  background-color:  #f4f7fa;
}