<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <div class="hero-content">

          <p class="hero-subtitle">Meu nome é Gabriell</p>

          <h1 class="headline-lg">I'm a Developer</h1>
        </div>

        <figure class="hero-banner">
          <img src="assets/images/gabriell.jpg" width="680" height="645"
            alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
        </figure>

      </div>
    </section>

    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about me">
      <div class="container">

        <figure class="hero-banner">
          <img src="assets/images/desenvolvedor-web.png" width="680" height="645" loading="lazy"
            alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
        </figure>

        <div class="about-content">

          <h2 class="title-lg">Eu sou um desenvolvedor FullStack com mais de 4 anos de experiência.</h2>

          <p class="body-md section-text">
            Eu sou um desenvolvedor FullStack com mais de 4 anos de experiência. Moro em São Paulo. Trabalho atualmente
            como desenvolvedor com foco em back-end para o banco BTG Pactual, utilizando Spring Boot, Spring Cloud
          </p>

          <div class="wrapper">
            <a href="assets/curriculo.pdf" download="cv-gabriell.pdf" class="btn btn-primary">Download CV</a>

            <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
          </div>

        </div>

      </div>
    </section>

    <!-- 
      - #SKILL
    -->

    <section class="section skill" aria-labelledby="skill-label">
      <div class="container">

        <div class="skill-content">

          <h2 class="section-title headline-md" id="skill-label">Minhas Habilidades</h2>

          <ul class="skill-list">

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-html5"></ion-icon>
                </div>

                <h2 class="card-title">HTML</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="logo-css3"></ion-icon>
                </div>

                <h2 class="card-title">CSS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="logo-angular"></ion-icon>
                </div>

                <h2 class="card-title">Angular</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-outline"></ion-icon>
                </div>

                <h2 class="card-title">Java</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-outline"></ion-icon>
                </div>

                <h2 class="card-title">Spring Boot</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="mail-outline"></ion-icon>
                </div>

                <h2 class="card-title">Brokers (Rabbit, SQS)</h2>
              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="cloud-outline"></ion-icon>
                </div>

                <h2 class="card-title">AWS</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="list-outline"></ion-icon>
                </div>

                <h2 class="card-title">Microserviços</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="logo-docker"></ion-icon>
                </div>

                <h2 class="card-title">Kubernetes</h2>

              </div>
            </li>

            <li>
              <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-outline"></ion-icon>
                </div>

                <h2 class="card-title">Jenkins</h2>

              </div>
            </li>

          </ul>

        </div>

        <figure class="skill-banner">
          
        </figure>

      </div>
    </section>

  </article>
</main>